<!DOCTYPE html >
<html lang="en" ng-app="myApp">
<head>
    <link rel="stylesheet" type="text/css" href="views/style.css">
    <title>YS-Football</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../angular.js"></script>
    <script src="../angular-route.js"></script>
    <script src="../client.js"></script>

</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Welcome To YS Football</h1>
        <h2>The largest online store in the world</h2>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Deals</a></li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="displayPage('/login')"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
                <li><a ng-click="displayPage('/register')"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="leftImg">
    <div class="container" ng-repeat="shirt in teamsFirstCol">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">{{shirt.itemName}}</div>
                    <div class="panel-body"><img ng-src="{{shirt.image}}" class="img-responsive"style="width:100%" alt="Image"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="rightImg">-->
    <!--<div class="container">-->
        <!--<div class="row" ng-repeat="team in teamsRecCol">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">{{team.itemName}}</div>-->
                    <!--<div id="image1" class="panel-body"><img ng-src="{{team.image}}" class="img-responsive"-->
                                                             <!--style="width:100%" alt="Image"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<!--<div class="col-sm-4">-->
    <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">test1</div>-->
        <!--<div class="panel-body"><img class="img-responsive"-->
                                     <!--style="width:100%" alt="Image"></div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
    <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">{{img_url5.rows[5].itemName}}</div>-->
        <!--<div class="panel-body"><img ng-src="{{img_url5.rows[5].image}}" class="img-responsive"-->
                                     <!--style="width:100%" alt="Image"></div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br><br>-->

<footer class="container-fluid text-center">
</footer>

</body>
</html>