<!DOCTYPE html >
<html lang="en" ng-app="myApp" ng-controller="loginController">
<head>
    <link rel="stylesheet" type="text/css" href="views/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../client.js"></script>
</head>
<body>

<form name="loginForm">
    <div class="imgcontainer">
        <img src="https://myslu.slu.edu/res/images/cas-padlock-icon.png" alt="loginImg" class="avatar">
    </div>
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" pattern="[a-zA-Z]+" ng-model="userName" placeholder="Enter Username" minlength="3"
               maxlength="8" name="userName" required>
        <span ng-show="loginForm.userName.$error.pattern || loginForm.userName.$error.required||loginForm.userName.$error.minlength||loginForm.userName.$error.maxlength">Username must be between 5-10 characters (letters only)</span>
        <br>
        <br>
        <label><b>Password</b></label>
        <input type="password" pattern="^[a-zA-Z0-9]+$" placeholder="Enter Password" ng-model="password" minlength="5"
               maxlength="10" name="password" required>
        <span ng-show="loginForm.password.$error.pattern || loginForm.password.$error.required || loginForm.password.$error.minlength||loginForm.password.$error.maxlength">password is required. must be 5-10 characters</span>
        <br>
        <br>
        <button type="submit" ng-click="checkDetailsOnClick()"
                ng-disabled="loginForm.userName.$invalid || loginForm.password.$invalid">Submit
        </button>
    </div>
</form>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" ng-click="backToHomePage()" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot<br>Please<br>
            <form name="restorePasswordInput">
            <p>Enter your user name: <input ng-model="userNameRestore" name="userNameRestore" type="text" pattern="[a-zA-Z]+" placeholder="Enter Username" minlength="3" maxlength="8"
                    required/></p>
                <button ng-click="getSecurityQuestion()"  ng-hide="restorePasswordInput.userNameRestore.$error.required">Click here to get your security question</button>
                <div>{{securityQuestion.rows[0].securityQuestion}}</div>
                <p>Enter your security answer: <input ng-model="securityAnswer"/></p>
            <!--<span ng-show="restorePasswordInput.userNameRestore.$error.pattern || restorePasswordInput.userNameRestore.$error.required||restorePasswordInput.userNameRestore.$error.minlength||restorePasswordInput.userNameRestore.$error.maxlength">Username </span>-->
            <button ng-click="restorePassword()" ng-disabled="restorePasswordInput.userNameRestore.$invalid">Restore password</button>
            </form>
        </span>
    </div>


<!--<div>-->
<!--<form name="loginForm" >-->
<!--<table>-->
<!--<tr>-->
<!--<td>Enter user name:</td>-->
<!--<td>-->
<!--<input  name="userName" type="text" ng-model="userName" minlength="1" maxlength="10" required/>-->
<!--<span ng-show="loginForm.userName.$error.required">First Name is required</span>-->
<!--</td>-->
<!--<td>-->
<!--<input name="password" type="password" ng-model="password" minlength="1" maxlength="10" required/>-->
<!--<span ng-show="loginForm.password.$error.required">password is required</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<button ng-click="checkDetailsOnClick()"-->
<!--ng-disabled="loginForm.userName.$invalid || loginForm.password.$invalid">Submit-->
<!--</button>-->
<!--</tr>-->
<!--</table>-->
<!--</form>-->
<!--</div>-->
</body>
</html>